<p>
  <strong>No dayoff:</strong>
  <%= @dayoff.no_dayoff %>
</p>
<p>
  <strong>Year Dayoff:</strong>
  <%= @dayoff.year %>
</p>

<%= link_to 'Edit', edit_dayoff_path(@dayoff) %> |
<%= link_to 'Back', dayoffs_path %>
