<p>
  <strong>Reason:</strong>
  <%= @day_off_request.reason %>
</p>

<p>
  <strong>Day off date:</strong>
  <%= @day_off_request.day_off_date %>
</p>

<%= link_to 'Edit', edit_day_off_request_path(@day_off_request) %> |
<%= link_to 'Back', day_off_requests_path %>
